<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>05_hellomaven</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloMaven</servlet-name>
    <servlet-class>com.wistron.HelloMaven</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloMaven</servlet-name>
    <url-pattern>/hellomaven</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo01</servlet-name>
    <servlet-class>com.wistron.ServletDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo01</servlet-name>
    <url-pattern>/ServletDemo01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletConfigDemo1</servlet-name>
    <servlet-class>com.wistron.ServletConfigDemo1</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>gacl</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>123</param-value>
    </init-param>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigDemo1</servlet-name>
    <url-pattern>/ServletConfigDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContextDemo1</servlet-name>
    <servlet-class>com.wistron.ServletContextDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo1</servlet-name>
    <url-pattern>/ServletContextDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContextDemo2</servlet-name>
    <servlet-class>com.wistron.ServletContextDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo2</servlet-name>
    <url-pattern>/ServletContextDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DrawImage</servlet-name>
    <servlet-class>com.wistron.DrawImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrawImage</servlet-name>
    <url-pattern>/DrawImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.wistron.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestDemo01</servlet-name>
    <servlet-class>com.wistron.RequestDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo01</servlet-name>
    <url-pattern>/RequestDemo01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestDemo02</servlet-name>
    <servlet-class>com.wistron.RequestDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo02</servlet-name>
    <url-pattern>/RequestDemo02</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestDemo03</servlet-name>
    <servlet-class>com.wistron.RequestDemo03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo03</servlet-name>
    <url-pattern>/RequestDemo03</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestDemo04</servlet-name>
    <servlet-class>com.wistron.RequestDemo04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo04</servlet-name>
    <url-pattern>/RequestDemo04</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestDemo6</servlet-name>
    <servlet-class>com.wistron.RequestDemo6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo6</servlet-name>
    <url-pattern>/RequestDemo6</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieDemo01</servlet-name>
    <servlet-class>com.wistron.CookieDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieDemo01</servlet-name>
    <url-pattern>/CookieDemo01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionDemo1</servlet-name>
    <servlet-class>com.wistron.SessionDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo1</servlet-name>
    <url-pattern>/SessionDemo1</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.wistron.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>com.wistron.BuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/BuyServlet</url-pattern>
  </servlet-mapping>
  
       <servlet>
    <servlet-name>ListCartServlet</servlet-name>
    <servlet-class>com.wistron.ListCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCartServlet</servlet-name>
    <url-pattern>/ListCartServlet</url-pattern>
  </servlet-mapping> 
  
  
</web-app>